venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.coverage

# Local .terraform directories
**/.terraform/*

# .tfstate files (contains sensitive infrastructure data)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore .tfvars files (frequently contain sensitive data/secrets)
*.tfvars
*.tfvars.json

# Ignore execution plan files
*tfplan*